* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body,
#root {
  height: 100%;
}
body {
  background: rgb(133, 162, 162);
  background: linear-gradient(
    0deg,
    rgba(133, 162, 162, 1) 0%,
    rgba(195, 149, 88, 1) 100%
  );
  margin: 0;
  display: grid;
}
.boxes {
  padding: 0 2rem;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(2, minmax(350px, 1fr));
  grid-template-rows: auto;
}
.box {
  display: flex;
  flex-direction: column;
  height: 500px;

  h1 {
    font-size: 20px;
    margin: 0 0 1rem 0;
  }
  .content {
    padding-top: 1em;
  }
  ol {
    margin-left: 0;
    li {
      align-items: center;
      display: flex;
      justify-content: flex-start;
    }
  }
}
.button {
  background: brown;
  border: 1px solid transparent;
  color: white;
  margin-right: 1em;
  padding: 0.25em 0.75em;
  transition: all 0.25s ease-in;
  &:hover {
    background: white;
    border: 1px solid hotpink;
    color: #333;
  }
}

.navbar {
  margin-bottom: 2rem;
  padding: 2rem 0;
  width: 100%;
  background: brown;
  color: white;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  align-items: center;
}

h2 {
  font-size: 3rem;
}

input {
  background: none;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  text-align: center;
  color: white;
}
